<header>
  <nav>
    <a href="/">MovieBrary</a>
    <ul>
      <li><a href="/genres">Genre</a></li>
      <li><a href="/genres/new">Add Genre</a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
</header>